#cart-badge{
    content: '';
    position: absolute;
    top: -10px;
    left: 30px;
    display: flex;
    flex-direction: column;
}

.navigation-links li{
    margin: 0 10px;
    padding: 5px 15px;
}



.navigation-links li:hover{
    background-color: rgb(250, 105, 21);
    cursor: pointer;    
    border-radius: 10px;
    animation: navslide 0.5s  ;
    transition: all 0.3s linear;
}

.active{
    background-color: rgb(243, 120, 71);
    border-radius: 10px;
}

.logo{
    display: flex;
    align-items: center;

}

.logo h2{
    font-size: 20px;
    color: #F07000;
    font-weight: bold;
}